<div class="card" ng-show="getCourse == 'OK'">
    <!--<div class="card-block">-->
    <uib-tabset>
        <uib-tab index="0" heading="Detail">
            <!--{{dataCourse}}-->
            <div class="form-group">
                <label class="label">Nama {{title}}</label>
                <span class="form-control">{{dataCourse.name}}</span>
            </div>

            <div class="form-group">
                <label class="label">Deskriptsi {{title}}</label>
                <span class="form-control">{{dataCourse.description}}</span>
            </div>
            <div class="form-group">
                <label class="label">SKS {{title}}</label>
                <span class="form-control">{{dataCourse.sks}}</span>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Kelas">

            Kelas yang ada di mata kuliah ini :

            <br>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-block">
                        <h5 class="card-title">
                            Buat Kelas
                        </h5>
                        <p class="card-text">
                            Klik di bawah ini untuk membuat kelas.
                        </p>
                        <button class="btn btn-info btn-icon btn-sm" ng-click="addClassModal()"><i class="fa fa-paper-plane-o"></i>Buat kelas</button>
                    </div>
                </div>                
                
                <div ng-repeat="item in dataCourseClasses">
                    <div class="col-lg-6 " style="margin-bottom: 10px;">
                        <div class="card card-block">
                            <div class="col-lg-2">
                                <span style="text-align: center;font-size: 60px; ">
                                    {{item.class_label}}
                                </span>
                            </div>
                            <div class="col-lg-10">
                                <p class="card-text">
                                    <strong>Dosen : {{item.class_teacher.name}}</strong>
                                    <br>
                                    <strong>Jumlah : {{item.class_student_total}} Orang</strong>
                                </p>
                                <hr>
                                <button class="btn btn-icon btn-sm btn-danger" ng-click="deleteCourseModal(item.teacher_courses_seq)"><i class="fa fa-trash"></i> Hapus</button>
                                <button class="btn btn-icon btn-sm btn-instagram" ng-click="deleteCourseModal(item.teacher_courses_seq)"><i class="fa fa-bars"></i> Penjadwalan</button>
                                <button class="btn btn-icon btn-sm btn-warning" ng-click="assigneTeacherModal(item.class_seq)"><i class="fa fa-user"></i> Dosen</button>
                            </div>

                        </div>                       
                    </div>
                </div>
            </div>            
        </uib-tab>
        </uib-tab>

    </uib-tabset>

    <!--</div>-->

    <div class="card-header">
        <a href="#" ui-sref="admin.matakuliah" class="btn btn-icon  btn-success"><i class="fa fa-arrow-left"></i>Kembali</a>
    </div>
    <script type="text/ng-template" id="add-class-modal.html">
        <div class="modal-header">
        <h4 class="modal-title" id="modal-title-{{name}}">Tambahkan Kelas</h4>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
        <div class="form-group">
        <label>Label Kelas</label>    
        <select style="margin-bottom:3px;" ng-model="datainput.first_selected" ng-options="item for item in alphabetics" class="form-control">{{item}}</select>                  
        <select ng-model="datainput.last_selected" ng-options="item for item in alphabetics" class="form-control">{{item}}</select>      
        </div>
        <div class="modal-footer">
        <button class="btn btn-icon btn-success" type="button" ng-click="addClassSubmit(datainput)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
        <button class="btn btn-warning btn-icon" ng-click="closeClassModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
        </div>
    </script>

    <script type="text/ng-template" id="teacher-course-delete-modal.html">
        <div class="modal-header">
        <h5>Konfirmasi</h5></div>
        <div class="modal-body" id="modal-body-{{name}}">
        <h5>Anda yakin menghapus data ini ?</h5>
        </div>
        <div class="modal-footer">
        <button class="btn btn-icon btn-danger" type="button" ng-click="teacherCourseDelete()"><i class="fa fa-trash"></i>&nbsp;Ya</button>
        <button class="btn btn-warning btn-icon" ng-click="closeDeleteModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
        </div>
    </script>
    <script type="text/ng-template" id="course-assigne-teacher-modal.html">
        
        <div class="modal-header">
        <h4 class="modal-title" id="modal-title-{{name}}">Pilih Dosen</h4>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">        
        <div class="form-group">
        <input type="text" ng-model="search" class="form-control" placeholder="Pencarian">
        </div>
        <div class="form-group">                    
        <div ng-repeat="item in dataTeacherCourse | filter:search">
         <div><input class="to-labelauty" type="radio" name="rd1" data-labelauty="{{item.teacher_name}}" ng-value="item.teacher_seq" ng-model="dataTeacherCourse.pick_teacher_seq" checked ui-jq="labelauty" ui-options="{class: 'labelauty btn-block'}"/></div>
        </div>
        </div>
        <div class="modal-footer">

        <button class="btn btn-icon btn-success" type="button" ng-click="assigneTeacherSubmit(dataTeacherCourse.pick_teacher_seq)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
        <button class="btn btn-warning btn-icon" ng-click="CloseAssigneTeacherModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
        </div>
    </script>
</div>


<div ng-show="getCourse != 'OK'">
    <!--<div ng-include src="'views/404.html'"></div>-->
    Data tidak ditemukan
</div>