
<div class="session-content">
    <div class="card card-block form-layout">
        <fieldset class="form-group">
            <label for="username">
                Masukkan Username
            </label>
            <input type="text" class="form-control form-control-lg" id="username" placeholder="username" required ng-model="inputdata.username"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="password">
                Masukkan Password
            </label>
            <input type="password" class="form-control form-control-lg" id="password" placeholder="********" required ng-model="inputdata.password"/>
        </fieldset>
        <button class="btn btn-primary btn-block btn-lg" ng-click="doLogin(inputdata)">
            Login
        </button>
    </div>
</div>  

